<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIBAM.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AIBAM.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIBAM.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIBAM.Settings>
            <setting name="ThemaAplicacao" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="DiretorioRaiz" serializeAs="String">
                <value />
            </setting>
            <setting name="TipoChat" serializeAs="String">
                <value />
            </setting>
        </AIBAM.Settings>
        <AIBAM.Settings1>
            <setting name="Configuração" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
        </AIBAM.Settings1>
    </userSettings>
    <applicationSettings>
        <AIBAM.Settings>
            <setting name="modelosPath" serializeAs="String">
                <value>A:\DESKTOP\WSocket\modelos.json</value>
            </setting>
        </AIBAM.Settings>
    </applicationSettings>
</configuration>